html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
h1 {
    margin-left: 100px;
}
tabItem {
    border-width: thin;
    background-color: #fffff4;
    text-align: right;
}
tabText {
    font-size: 30px;
    margin-left: 50px;
    text-transform:uppercase;
    margin-top: 50;
    border-width: medium;
}
signInArea {
    background-color: "Red";
    border-width: thick;
}
